/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/style.scss */
body {
  background: url(img/bg.jpg) repeat;
  font-family: Arial,Helvetica, sans-serif;
  color: #3D3535;
  line-height: 20px;
  font-size: 14px;
}

/* line 12, ../sass/style.scss */
.wrap {
  width: 709px;
  margin: 0 auto;
}

/* line 13, ../sass/style.scss */
.logo {
  text-align: center;
  padding: 35px 0;
  background: url(img/top.png) left bottom no-repeat;
}

/* line 14, ../sass/style.scss */
.content {
  background: url(img/mid.png) repeat;
  padding: 0 110px;
  font-weight: 200;
  text-align: center;
  position: relative;
}
/* line 15, ../sass/style.scss */
.content h1 {
  color: #9DD8F6;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  font-family: "Myriad Pro","FrutigerLT Black", sans-serif;
  padding: 10px 0 25px 0;
}
/* line 16, ../sass/style.scss */
.content strong {
  font-weight: bold;
}
/* line 17, ../sass/style.scss */
.content em {
  font-style: italic;
}
/* line 18, ../sass/style.scss */
.content .bloc {
  width: 97px;
  height: 67px;
  background: url(img/number.png) no-repeat;
  float: left;
  padding-top: 30px;
  text-align: center;
  color: #767676;
  margin-right: 30px;
}
/* line 19, ../sass/style.scss */
.content .bloc strong {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  display: block;
  color: #3D3535;
  margin-bottom: 15px;
}
/* line 21, ../sass/style.scss */
.content .last {
  margin-right: 0px;
}
/* line 22, ../sass/style.scss */
.content .numbers {
  overflow: hidden;
  *zoom: 1;
  padding: 40px 0;
}
/* line 23, ../sass/style.scss */
.content form {
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 40px;
}
/* line 24, ../sass/style.scss */
.content .text {
  float: left;
  padding: 0 15px;
  width: 250px;
  height: 40px;
  line-height: 40px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background: #fafafa 10px center;
  border: none;
  -moz-box-shadow: inset -1px 1px 2px 0px silver;
  -webkit-box-shadow: inset -1px 1px 2px 0px silver;
  -o-box-shadow: inset -1px 1px 2px 0px silver;
  box-shadow: inset -1px 1px 2px 0px silver;
  outline: none;
  margin-left: 40px;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 26, ../sass/style.scss */
.content .loading {
  background: url(img/loader.gif) no-repeat 10px center #fafafa;
  padding-left: 30px;
  width: 235px;
}
/* line 27, ../sass/style.scss */
.content .submit {
  border: 2px solid #eeeeee;
  width: 120px;
  text-align: center;
  float: left;
  height: 40px;
  background-color: #9DD8F6;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  line-height: 30px;
  margin-left: 16px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  font-weight: bold;
  text-shadow: black 1px 1px 0px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F40328), color-stop(85%, #F40328), color-stop(100%, #25343f));
  background: -webkit-linear-gradient(top, #9DD8F6, #9DD8F6 85%, #25343f);
  background: -moz-linear-gradient(top, #9DD8F6, #9DD8F6 85%, #25343f);
  background: -o-linear-gradient(top, #9DD8F6, #9DD8F6 85%, #25343f);
  background: -ms-linear-gradient(top, #9DD8F6, #9DD8F6 85%, #25343f);
  background: linear-gradient(top, #9DD8F6, #9DD8F6 85%, #25343f);
}
/* line 40, ../sass/style.scss */
.content .submit:hover {
  height: 38px;
  margin-top: 2px;
  line-height: 33px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5a7a92), color-stop(95%, #5a7a92), color-stop(100%, #25343f));
  background: -webkit-linear-gradient(top, #9DD8F6, #9DD8F6 95%, #25343f);
  background: -moz-linear-gradient(top, #9DD8F6, #9DD8F6 95%, #25343f);
  background: -o-linear-gradient(top, #9DD8F6, #9DD8F6 95%, #25343f);
  background: -ms-linear-gradient(top, #9DD8F6, #9DD8F6 95%, #25343f);
  background: linear-gradient(top, #9DD8F6, #9DD8F6 95%, #25343f);
}

/* line 47, ../sass/style.scss */
.footer {
  background: url(img/bot.png) left top no-repeat;
  padding-top: 30px;
  overflow: hidden;
  *zoom: 1;
}
/* line 51, ../sass/style.scss */
.footer .social {
  float: left;
  width: 400px;
}
/* line 54, ../sass/style.scss */
.footer .social img {
  margin-right: 10px;
}
/* line 56, ../sass/style.scss */
.footer .infos {
  text-align: right;
  font-size: 12px;
  color: #3D3535;
}
/* line 57, ../sass/style.scss */
.footer .infos strong {
  font-size: 14px;
  color: #3D3535;
}

/* line 64, ../sass/style.scss */
.alert {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  border-top: solid 5px #ce4a3c;
}
/* line 68, ../sass/style.scss */
.alert .message {
  position: relative;
  width: 400px;
  margin: 0 auto;
  height: 32px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.6) 0 1px 0px;
  line-height: 32px;
  color: #FFF;
  text-align: center;
}
/* line 79, ../sass/style.scss */
.alert .close {
  width: 22px;
  height: 21px;
  background: url(img/alert.png) no-repeat;
  position: absolute;
  top: 5px;
  right: 10px;
}
/* line 87, ../sass/style.scss */
.alert.success .close {
  background-position: left bottom;
}

/* line 89, ../sass/style.scss */
.error .message {
  background-color: #ce4a3c;
}

/* line 90, ../sass/style.scss */
.success .message {
  background-color: #47ac4f;
}

/* line 91, ../sass/style.scss */
.alert.success {
  border-color: #47ac4f;
}

/* line 93, ../sass/style.scss */
.tooltipsy {
  margin-bottom: 3px;
  margin-left: -4px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 2px 4px;
  color: #FFF;
  font-size: 0.8em;
}
